@import '../../../node_modules/github-markdown-css/github-markdown.css';

.markdown-body {
  box-sizing: border-box;
  width: auto;
  padding: 5px;
}

.markdown-body pre {
  padding: 5px;
}

@media (max-width: 767px) {
  .markdown-body {
    font-size: 13px;
  }

  .markdown-body p {
    margin-bottom: 8px;
  }

  .markdown-body li>p {
    margin-top: 8px;
  }
}